<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form method="post">
      <button type="submit" name="item-submit">ToDo Item submit</button>
      <input type="text" name="item-input" value="">
      <ul>
        <!-- ToDo list with all entered values and the completed buttons that accompany them -->
      </ul>
      <hr>
      <ul>
        <!-- ToDo list with all completed items -->
      </ul>
  </form>
  </body>
</html>
